@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* Zera tudo */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #f1f2ea; 
    
}

header {
    display: flex !important;
    align-items: center;
    justify-content:space-between;
    padding: 1vh;
    width: 100%;
    background-color: #292944;
}

header > ul {
    margin-bottom: 0 !important;
}
header > ul > li {
    display: inline;
    margin-right: 14px;
}

 header a {
    color: #edb700;
    text-decoration: none;


}
header a:hover{
    transition: 0.6;
    color:white;

}

header img {
    height: 19%;
    width: 14%;
    object-fit: fill;
    margin-bottom: 10px;
}

.perfil {
    background-color: #f1f2ea;
    padding: 10px;
    border-radius: 4px;
   
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.frm_cadastro {
    box-shadow: 0px 6px 10px 1px #0000007b;
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 900px;
    padding: 20px;
}

footer {
    position: static;
    display: flex;
    margin-top: 100vh;
    bottom: 0;
    background-color: #292944;
    color: #FFF;
    width: 100%;
    height: 100%;    
    text-align: center;
}













